# Sklearnでpredict.pyを作ろう

## データの用意

In [0]:
import numpy as np
import pandas as pd

df = [1000000,"ローンの残があるが現状遅延なく支払われている",33,"配偶者あり","社員"]

data = pd.DataFrame([[3000000.0,     0,0,1,0,0,      0,1,0,0,0,      1,0,    0,0,1,0],
                     [8000000.0,      0,1,0,0,0,      0,0,1,0,0,      1,0,    0,0,0,1]])
                      # 貯金         信用履歴        年齢            性別    仕事

           0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16
0  3000000.0  0  0  1  0  0  0  1  0  0   0   1   0   0   0   1   0
1  8000000.0  0  1  0  0  0  0  0  1  0   0   1   0   0   0   0   1

## 学習データ全体に対する平均値、最大値、最小値

In [0]:
        #  貯金           年齢
count  1.448000e+03  1448.000000
mean   4.843025e+06    48.556630
std    4.866182e+06    13.493333
min    0.000000e+00    22.000000
25%    5.000000e+05    38.000000
50%    4.000000e+06    50.000000
75%    8.000000e+06    60.000000
max    2.000000e+07    70.000000

## 正規化処理

## 保存した学習済みモデルの読み込みと予測の実行