# Sklearnでpredict.pyを作ろう

## データの用意

In [25]:
import numpy as np
import pandas as pd

df = [1000000,"ローンの残があるが現状遅延なく支払われている",33,"配偶者あり","社員"]

data = pd.DataFrame([[3000000.0,     0,0,0,1,0,      0,1,0,0,0,      1,0,    0,0,1,0],
                     [8000000.0,      0,1,0,0,0,      0,0,1,0,0,      1,0,    0,0,0,1]])
                      # 貯金         信用履歴        年齢            性別    仕事	

data

           0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16
0  3000000.0  0  0  0  1  0  0  1  0  0   0   1   0   0   0   1   0
1  8000000.0  0  1  0  0  0  0  0  1  0   0   1   0   0   0   0   1

In [ ]:
# 信用履歴
#     この銀行のクレジットローンはすべて完済
#     全てのクレジットローンは延滞なく完済
#     ローン残があるが現状遅延なく支払われている
#     危険人物/他のクレジットローンが存在している（この銀行以外で）
#     過去に遅延あり

# 年齢
#     20代、30代、40代、50代、60以上

# 家族構成
#     配偶者あり
#     配偶者なし

# 仕事
#     パート
#     無職
#     社員
#     管理者/役員

## 学習データ全体に対する平均値、最大値、最小値

In [ ]:
        #  貯金           年齢
count  1.448000e+03  1448.000000
mean   4.843025e+06    48.556630
std    4.866182e+06    13.493333
min    0.000000e+00    22.000000
25%    5.000000e+05    38.000000
50%    4.000000e+06    50.000000
75%    8.000000e+06    60.000000
max    2.000000e+07    70.000000

## 正規化処理

In [26]:
data[0] = (data[0]-4843025) / (4866182)

data

          0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16
0 -0.378741  0  0  0  1  0  0  1  0  0   0   1   0   0   0   1   0
1  0.648758  0  1  0  0  0  0  0  1  0   0   1   0   0   0   0   1

## 保存した学習済みモデルの読み込みと予測の実行

In [27]:
from sklearn.externals import joblib

# Numpy形式に変換
data = np.array(data)

# 予測モデルを復元
clf = joblib.load('/content/final_model.sav') 

# 予測結果を出力
for i in data:
    y = clf.predict(i.reshape(1,-1))
    if y == 1:
        print("OK")
    else:
        print("NG")

NG
OK